/* Reset e Box Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 3em;
    font-family: 'Kavoon', cursive;
    color: #fff;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 1.2em;
    color: #e0e0e0;
    font-style: italic;
}

.section {
    margin-bottom: 30px;
}

h2, h3 {
    color: #ffc800;
    border-bottom: 2px solid #ffc800;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
    font-size: 1.1em;
}

/* Estilos para o conteúdo */
.content {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.text {
    width: 60%; /* Largura do texto */
    margin-bottom: 20px; /* Margem inferior para espaço entre texto e imagem */
}

.image {
    width: 35%; /* Largura da imagem */
    text-align: center;
}

.image img {
    max-width: 100%;
    border-radius: 8px;
}

.caption {
    font-size: 0.9em;
    color: #ccc;
    margin-top: 5px;
    font-style: italic;
}

/* Estilos específicos para o Paleolítico */
.section.paleolitico .content {
    flex-direction: row-reverse; /* A imagem fica do lado direito do texto */
}

.paleolitico .image img {
    margin-right: 20px; /* Aumenta a margem direita da imagem da caveira */
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .content {
        flex-direction: column; /* Altera para coluna em telas menores */
    }

    .text, .image {
        width: 100%; /* 100% em telas pequenas */
    }

    .text {
        margin-bottom: 0; /* Remove a margem inferior em telas pequenas */
    }
}
